/* Fonts */
@font-face {
  font-family: "Inter";
  src: url('/static/inter_var.ttf');
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  src: url('/static/inter_ital_var.ttf');
}

@font-face {
  font-family: "Fira Code";
  src: url('/static/fira_code.ttf');
}

/* Global Styles */
* {
  box-sizing: border-box;
  font-family: "Inter", "Noto Emoji", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --bg0: #ffffff;
  --bg1: #f4f8fb;
	--bg2: #d1e2f0;
  --t1: #175a92;
  --t2: #5ca8e6;
  --red: #d43a3a;
  --fg2: #3a4d74;
  --fg1: #182030;

  
	--base-size: clamp(16px, 1.3vw, 32px);
	--max-width: calc(var(--base-size)*36);
	font-size: var(--base-size);
	letter-spacing: 0.02rem;
}

body {
	font-size: 1rem;
	background: var(--bg0);
	color: var(--fg1);
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto 1fr;
	align-content: stretch;
	height: 99vh;
	line-height: 170%;
	overflow-y: hidden;
}

a {
	color: var(--t1);
	cursor: pointer;
}

header {
  grid-area: 1 / 1 / 2 / 2;
  padding: 0.5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto auto;
  border-right: 1px solid var(--bg2);
  gap: 0.5rem;
}

header a {
  text-decoration: none;
}

header .logo {
  width: 2rem;
  height: 2rem;
}

header svg {
  width: 1.25rem;
  height: 1.25rem;
}

#sidebar {
  grid-area: 2 / 1 / 3 / 2;
  background: var(--bg0);
  height: 100%;
  align-self: start;
  padding: 0.25rem 0.5rem;
  display: grid;
  border-right: 1px solid var(--bg2);
  align-content: start;
  gap: 0.25rem;
  overflow-y: auto;
}

#sidebar a {
  text-decoration: none;
  display: block;
  padding: 0.6rem 0.25rem 0.4rem 0.25rem;
  font-size: 83%;
}

main {
  grid-area: 1 / 2 / 3 / 3;
  justify-items: center;
  display: grid;
  padding: 0.5rem;
  height: 100vh;
  overflow-y: scroll;
  background: var(--bg1);
}

section {
  display: inline-block;
  width: 100%;
  max-width: 120vh;
  margin: 1rem 0;
  padding: 0.5rem;
}

section h1 {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

section h1 svg {
  width: 1.5rem;
  height: 1.5rem;
}

.btn, button {
  text-decoration: none;
  background: var(--bg2);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: var(--t1);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--t1);
  outline: none;
  font-size: inherit;
}

.btn.danger, button.danger {
  color: var(--red);
  border: 1px solid var(--red);
}

.btn:hover, button:hover, .btn:focus, button:focus {
  opacity: 0.8;
}

.btn svg {
  width: 1rem;
  height: 1rem;
}

code {
  font-family: "Fira Code", monospace;
  font-size: 0.8rem;
}

.row-c2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.alert {
  background: var(--bg0);
  padding: 0.5rem;
  border: 1px solid var(--bg2);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.alert svg {
  width: 1rem;
  height: 1rem;
}


/* General Forms */
form {
  display: grid;
  gap: 1.5rem;
  padding: 1rem 0rem;
}

form label {
  display: grid;
  gap: 0.25rem;
}

form small {
  font-size: 0.8rem;
}

form small:first-child {
  font-weight: bold;
}

form input {
  border: none;
  outline: none;
  font-family: "Fira Code", monospace;
  border-bottom: 1px solid var(--fg1);
  color: var(--fg1);
  font-size: 0.8rem;
  padding: 0.2rem;
}

form input:focus {
  color: var(--t1);
  border-bottom: 1px solid var(--t1);
}

form select {
  border: none;
  outline: none;
  background: none;
  font-family: "Fira Code", monospace;
  border-bottom: 1px solid var(--fg1);
  color: var(--fg1);
  font-size: 0.8rem;
  padding: 0.2rem;
}

form select:focus {
  color: var(--t1);
  border-bottom: 1px solid var(--t1);
}

form button {
  justify-self: start;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

form button svg {
  width: 1.25rem;
  height: 1.25rem;
}

form progress[value="0"] {
  display: none;
}

form textarea {
  font-family: "Fira Code", monospace;
  font-size: 0.8rem;
  padding: 0.5rem;
  border: none;
  outline: none;
}

form textarea.large {
  height: 7rem;
}

form.htmx-request {
  display: none;
}

form ~ .loader {
  display: none;
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem 0.5rem;
  animation: loadanim 2s ease-in-out infinite;
}

form.htmx-request + .loader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

form ~ .loader svg {
  width: 1.2rem;
  height: 1.2rem;
}

@keyframes loadanim {
  0% {opacity: 1;}
  50% {opacity: 0.3;}
  100% {opacity: 1;}
}



/*
  SCREEN WISE CSS
*/


/* Settings */

#settings form label {
  border: 1px solid var(--bg2);
  border-radius: 0.5rem;
  padding: 1rem;
  background: var(--bg0);
}


/* Setup Prompt */

#setup-prompt {
  margin-top: 5rem;
}

/* Manage Sources */

#manage-sources .source-card {
  display: grid;
  grid-template-columns: 1fr auto auto;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--bg2);
  border-radius: 0.5rem;
  background: var(--bg0);
}

#manage-sources .source-card form {
  padding: 0;
  display: inline-block;
}

#manage-sources .source-card button {
  font-size: 0.75rem;
  padding: 0.3rem 0.5rem;
  display: inline-flex;
  align-items: center;
}

#manage-sources .source-card button.inactive {
  filter: grayscale(100%);
} 

#manage-sources .source-card button svg {
  width: 0.75rem;
  height: 0.75rem;
}

#manage-sources .row-c2 {
  margin-top: 1.5rem;
}

#manage-sources .row-c2 form {
  border: 1px solid var(--bg2);
  border-radius: 0.5rem;
  padding: 1rem;
  background: var(--bg0);
}


/* New Conversation */

#new-conversation form {
  border-top: 1px solid var(--bg2);
  margin-top: 1rem;
}


/* Chat Display */

#chat {
  border-radius: 0.5rem;
  padding: 0;
}

#chat>* {
  margin: 0.5rem 0;
  border: 1px solid var(--bg2);
  padding: 1rem;
  border-radius: 0.25rem;
  background: var(--bg0);
}

#chat ul, #chat ol {
  list-style-position: inside;
}

#chat .chat-metadata * {
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
}

#chat dt, #chat dd {
  display: inline-block;
}

#chat dt {
  font-weight: 700;
}


#chat .system-prompt-message summary {
  cursor: pointer;
  margin: 1rem 0;
}

#chat .user-message {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  padding-right: 1rem;
  align-items: start;
}

#chat .user-message .sender {
  font-size: 75%;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: 0.1rem solid var(--t1);
  padding: 0.05rem 0.5rem;
  border-radius: 0.2rem; 
  color: var(--t1);
  margin-right: 0.5rem;
  font-family: "Fira Code", monospace;
  font-weight: 400;
}

#chat .user-message .sender svg {
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.1rem;
}

#chat .user-message>p {
  padding-top: 0.25rem;
}

#chat .ai-message {
  display: grid;
  gap: 0.25rem;
}

#chat .ai-message .sender {
  color: var(--t1);
  font-size: 70%;
}

#chat .ai-message>div>* {
  margin: 0.25rem 0;
}


#chat .function-call {
  display: grid;
  gap: 0.75rem 0.25rem;
  align-items: center;
  grid-template-columns: auto 1fr;
  justify-items: start;
}

#chat .function-name {
  font-size: 75%;
  justify-self: start;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--t1);
  border: 0.1rem solid var(--t1);
  padding: 0.05rem 0.5rem;
  border-radius: 0.2rem; 
  color: var(--bg0);
  font-family: "Fira Code", monospace;
  font-weight: 400;
  margin-right: 0.5rem;
}

#chat .function-name svg {
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.2rem;
}

#chat .function-call .exec-time {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.7rem;
  border: 0.1rem solid var(--t1);
  padding: 0.05rem 0.5rem;
  border-radius: 0.2rem;
  font-family: "Fira Code", monospace;
  font-weight: 400;
  color: var(--t1);
}

#chat .function-call .exec-time svg {
  width: 1rem;
  height: 1rem;
}

#chat .function-call .exec-time span {
  display: inline-block;
  margin-top: 0.1rem;
}

#chat .function-call pre {
  overflow-x: auto;
}

#chat .function-call .args {
  padding: 0.5rem;
  background: var(--bg2);
  border-radius: 0.2rem;
  font-family: Fira Code, monospace;
  font-size: 75%;
  line-height: 180%;
  grid-column: 1 / -1;
}

#chat .function-output {
  overflow-x: auto;
  grid-column: 1 / -1;
}

#chat table {
  border-collapse: collapse;
  border-radius: 0.25rem;
}

#chat table td, #chat table th {
  border: 1px solid var(--bg2);
  padding: 0.25rem 0.5rem;
  font-family: Fira Code, monospace;
  font-size: 75%;
}

#chat table th {
  background: var(--t1);
  border: 1px solid var(--t1);
  color: var(--bg1);
  font-weight: 700;
}

#chat table tr:nth-child(2n) td {
  background: var(--bg1);
  border: 1px solid var(--bg2);
}


/* New Conversation */

#new-conversation {
  border-radius: 0.5rem;
  background: var(--bg0);
  padding: 2rem 1rem;
}


@media print {
  body {height: auto; background: var(--bg0);}
  header {display: none;}
  #sidebar {display: none;}
  main {grid-area: 1 / 1 / 3 / 3; height: auto; overflow-y: hidden; background: var(--bg0);}
  form {display: none;}
}


