:root {
  --sd-color-primary: var(--bz-color-primary-3);
  --sd-color-secondary: var(--bz-color-secondary-3);
  --sd-color-success: var(--bz-color-green-3);
  --sd-color-info: var(--bz-color-blue-3);
  --sd-color-warning: var(--bz-color-orange-3);
  --sd-color-danger: var(--bz-color-red-3);
  --sd-color-muted: var(--bz-color-gray-3);

  --sd-color-primary-highlight: var(--bz-color-primary-1);
  --sd-color-secondary-highlight: var(--bz-color-secondary-1);
  --sd-color-success-highlight: var(--bz-color-green-1);
  --sd-color-info-highlight: var(--bz-color-blue-1);
  --sd-color-warning-highlight: var(--bz-color-orange-1);
  --sd-color-danger-highlight: var(--bz-color-red-1);
  --sd-color-muted-highlight: var(--bz-color-gray-1);

  --sd-color-primary-text: var(--bz-color-white);
  --sd-color-secondary-text: var(--bz-color-white);
  --sd-color-success-text: var(--bz-color-white);
  --sd-color-info-text: var(--bz-color-white);
  --sd-color-warning-text: var(--bz-color-white);
  --sd-color-danger-text: var(--bz-color-white);
  --sd-color-muted-text: var(--bz-color-white);

  --sd-color-card-background: var(--bz-topic-background-color);
  --sd-color-card-border-hover: var(--bz-color-primary);
  --sd-color-card-border: var(--bz-topic-border-color);

  --sd-color-tabs-border: color-mix(in oklab, var(--bz-color-primary) 10%, var(--bz-color-outline));
  --sd-color-tabs-label-active: var(--bz-color-primary-5);
  --sd-color-tabs-label-inactive: var(--bz-color-muted);
  --sd-color-tabs-label-hover: var(--bz-color-primary-5);
  --sd-color-tabs-background: var(--bz-color-surface-1);
  --sd-color-tabs-background-active: color-mix(in oklab, var(--bz-color-surface-2), var(--bz-color-surface-3));
}

:root[data-theme=dark] {
  --sd-color-tabs-background: var(--bz-color-surface-3);
  --sd-color-tabs-background-active: color-mix(in oklab, var(--bz-color-surface-1), var(--bz-color-surface-2));
}

.sd-shadow-sm {
  box-shadow:
    0 1px 1px var(--bz-color-shadow),
    0 2px 2px var(--bz-color-shadow),
    0 4px 4px var(--bz-color-shadow),
    0 8px 8px var(--bz-color-shadow) !important;
}

.sd-shadow-md {
  box-shadow:
    0 1px 1px var(--bz-color-shadow),
    0 2px 2px var(--bz-color-shadow),
    0 4px 4px var(--bz-color-shadow),
    0 8px 8px var(--bz-color-shadow),
    0 16px 16px var(--bz-color-shadow) !important;
}

.sd-shadow-lg {
  box-shadow:
    0 1px 1px var(--bz-color-shadow),
    0 2px 2px var(--bz-color-shadow),
    0 4px 4px var(--bz-color-shadow),
    0 8px 8px var(--bz-color-shadow),
    0 16px 16px var(--bz-color-shadow),
    0 32px 32px var(--bz-color-shadow) !important;
}

article .sd-tab-set {
  > input {
    &:checked + label {
      background-color: var(--sd-color-tabs-background-active);
      border: 1px solid var(--sd-color-tabs-border);
      padding-top: calc(.25rem + 3px);
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border-bottom: none;
      margin-top: 0;
      z-index: 2;

      &:not(:first-of-type) {
        padding-left: calc(.6rem + 3px);
        margin-left: -3px;
      }

      &:not(:last-of-type) {
        padding-right: calc(.6rem + 3px);
        margin-right: -3px;
      }
    }

    &:focus-visible + label,
    &:focus-visible + label + .sd-tab-content {
      border-color: var(--sd-color-primary);
    }

    &:not(:checked) + label:hover {
      border-color: var(--sd-color-tabs-border);
    }
  }

  > label {
    font-weight: 500;
    border: 1px solid var(--sd-color-tabs-background);
    background-color: var(--sd-color-tabs-background);
    padding-inline: .6rem;
    padding-block:.25rem;
    margin-bottom: -1px;
    margin-top: 3px;
    z-index: 0;
  }

  .sd-tab-content {
    padding-top: 0;
    box-shadow: none;
    z-index: 1;
    border: 1px solid var(--sd-color-tabs-border);
    background-color: var(--sd-color-tabs-background-active);
    padding: 1rem;
    padding-top: 1.25rem;

    > :first-child > :first-child {
      margin-top: 0 !important;
    }
  }

  &:has(.sd-tab-content [class*="highlight-"]:only-child) {
    border-radius: var(--bz-border-radius);
    background-color: var(--sd-color-tabs-background);
    border: 1px solid var(--sd-color-tabs-border);
    margin: 0;
    padding: 0;

    > label {
      height: 100%;
      background: none;
      translate: -1px -1px;
      font-size: var(--bz-size-xs);

      &:first-of-type {
        border-top-left-radius: var(--bz-border-radius);
      }
    }

    > input:focus-visible + label + .sd-tab-content pre {
      border-color: var(--sd-color-primary);
    }

    > input:checked + label {
      margin-top: -2px;
      padding-top: calc(.25rem + 5px);
      background-color: var(--sd-color-tabs-background-active);
      padding-bottom: calc(.25rem + 2px);
    }

    > input:not(:checked) + :is(label, label:hover) {
      border-color: transparent;
    }

    > .sd-tab-content {
      padding: 0;
      border: none;
      background: none;

      pre {
        margin: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid var(--sd-color-tabs-border);
      }
    }
  }
}
