@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

a {
  color: #1f2328;
  font-weight: 500;
  text-decoration: none;
}

.link--underlined {
  text-decoration: none;
}

.link--underlined:hover {
  text-decoration: underline;
}
