select[data-select] {
    opacity: 0 !important;
    height: 0 !important;
    position: absolute !important;
    pointer-events: none !important;
}
select[data-select].select2-hidden-accessible {
    display: none !important;
}