html, body {
	height:100%;
	font-family: 'Roboto', 'sans-serif';
	background: #f0f0f0;
}

.btn-xs, .btn-group-xs > .btn {
	padding: 0.15rem 0.3rem;
	font-size: 0.675rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}

.cursor-pointer {
	cursor: pointer;
}


.dataset-filter {
	background: #FFF;
	border-radius: 1em;
	padding: 5px 15px;
}

.flex-gap {
	gap: 10px;
}