a.footnote-reference {
  font-size: 62.5%;
  vertical-align: super;
}

aside.footnote > :not(span) {
  margin-left: 3ch;
}

aside.footnote > span {
  float: left;
  font-weight: 600;
  padding-right: .25rem;
}
