@import url('https://fonts.googleapis.com/css?family=Roboto');

.select-text-overlay-scheduler {
  width: 95%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.execution-history-parent {
  margin: 20px;
}

.input-style-scheduler {
  width: 100%;
  background: var(--jp-layout-color0);
  min-height: 40px;
  outline: none;
}

.select-job-style-scheduler {
  background: var(--jp-layout-color0);
  border-radius: 4px;
  width: 100%;
  min-height: 36px;
  outline: none;
}

.create-scheduler-label-style {
  font-size: 14px;
}

.create-scheduler-form-element {
  margin-top: 15px;
  width: 512px;
}

.create-scheduler-form-element-input-file {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.create-scheduler-form-element-input-fl {
  width: 247px !important;
}

.encryption-form-element-input-fl {
  width: 227px !important;
}

.schedule-child-section {
  width: 512px;
  margin-left: 30px;
}

.schedule-child-section .schedule-input-field {
  margin-top: 2px;
}

.create-scheduler-radio-element div {
  flex-direction: row;
}

.create-pr {
  padding-right: 18px;
}

.edit-notebook-style {
  cursor: pointer;
  margin-top: 10px;
  padding-left: 15px;
}

.create-job-scheduler-title {
  padding: 0 15px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--jp-ui-font-color0);
}

.create-job-scheduler-sub-title {
  font-weight: 700;
}

.create-job-scheduler-text-para {
  padding: 20px 0 10px;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--jp-ui-font-color0);
}

.create-scheduler-label {
  margin-top: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: var(--jp-ui-font-color0);
}

.create-scheduler-style {
  width: 512px;
  height: 36px;
  background: var(--jp-layout-color0);
  margin-top: 10px;
  outline: none;
}

.execution-history-left-wrapper {
  width: 400px;
  border: 1px solid var(--jp-layout-color3);
}

.execution-history-full-wrapper {
  width: 100%;
  border: 1px solid var(--jp-layout-color3);
}

.execution-history-main-wrapper {
  display: flex;
}

.execution-history-right-wrapper {
  width: calc(100% - 400px);
  border: 1px solid var(--jp-layout-color3);
  border-left: none;
  overflow: auto;
}

.execution-history-right-wrapper-scroll {
  overflow: hidden;
}

.execution-history-main-full-wrapper {
  display: flex;
  flex-direction: column;
}

.dag-runs-list-table-parent {
  overflow: auto;
}

.scheduler-back-arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 10px;
}

.dag-runs-table-body {
  overflow-y: auto;
  max-height: 55vh;
}

.dag-runs-row-data-parent-selected {
  height: 29px;
  background: var(--jp-brand-color4);
  color: var(--jp-brand-color1);
}

.dag-runs-row-data-parent {
  background: var(--jp-layout-color0);
  height: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--jp-ui-font-color1);
  cursor: pointer;
}

.dag-runs-row-data-parent:hover {
  background: var(--jp-layout-color2);
}

.execution-history-title {
  display: flex;
}

.accordion-row-parent {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--jp-layout-color3);
}

.accordion-row-parent-header {
  background-color: rgba(0 0 0 / 4%);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  color: var(--jp-ui-font-color0);
  border-bottom: 1px solid var(--jp-layout-color3);
}

.accordion-vertex-row-parent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--jp-layout-color3);
}

.accordion-vertex-row-parent-header {
  background-color: rgba(0 0 0 / 4%);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 18px;
  color: var(--jp-ui-font-color0);
  border-bottom: 1px solid var(--jp-layout-color3);
}

.accordion-row-data {
  padding-left: 15px;
  width: 33%;
}

.accordion-vertex-row-data {
  padding-left: 15px;
  width: 10%;
  overflow: hidden;
}

.accordion-vertex-row-data:nth-child(2) {
  width: 18%;
}

.accordion-vertex-row-data:nth-child(3) {
  width: 70%;
}

.logo-row-container {
  display: flex;
}

.logo-alignment-style-accordion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.logs-content-style {
  overflow: auto;
  margin: 10px;
  border-bottom: 1px solid var(--jp-layout-color3);
}

.accordion-row-data-expand-logo {
  width: 30px;
}

.dag-runs-table-data-state-success {
  background-color: #34a853;
  color: var(--jp-border-color3);
  border-radius: 22px;
  margin: 5px 15px;
  display: flex;
  width: 71px;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dag-runs-table-data-state-failure {
  background-color: #ea3323;
  color: var(--jp-border-color3);
  border-radius: 22px;
  margin: 5px 15px;
  display: flex;
  width: 71px;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dag-runs-table-data-state-queued {
  background-color: #aeaeae;
  color: var(--jp-border-color3);
  border-radius: 22px;
  margin: 5px 15px;
  display: flex;
  width: 71px;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dag-runs-table-data-state-running {
  background-color: #00bfa5;
  color: var(--jp-border-color3);
  border-radius: 22px;
  margin: 5px 15px;
  display: flex;
  width: 71px;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dag-run-state-parent {
  border-bottom: 1px solid var(--jp-layout-color3);
  height: 24px;
}

.execution-history-header {
  height: 48px;
  display: flex;
}

.accordion-section {
  background: #f2dede;
  margin: 10px 0;
}

.accordion-title {
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e43921;
}

.accordion-button {
  background-color: #f2dede;
  color: #e43921;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  padding: 10px;
  color: #e43921;
}

.import-error-parent {
  margin-top: 12px;
}

.filename {
  flex: 1;
}

.timestamp {
  margin-left: 10px;
  margin-right: 10px;
}

.sub-para {
  padding-left: 26px;
}

.sub-title-heading {
  padding: 0;
}

.tab-description {
  width: 512px;
}

.panel-margin {
  margin: 0;
}

.tab-text-sub-cl {
  color: #000000a8;
  font-size: 12px;
  padding-top: 5px;
}

.tab-text-sub-cl .error-message {
  color: #b71c1c;
}

.learn-more-a-tag {
  padding-left: 27px;
  cursor: pointer;
}

.learn-more-url {
  display: flex;
  justify-content: flex-start;
}

.content-pd-space {
  padding: 0 0 22px 22px;
  width: 370px !important;
}

.disable-complete-btn {
  padding: 0 !important;
}

.table-cell-width {
  width: 512px !important;
}

.btn-refresh {
  line-height: 5;
}

.btn-refresh-text {
  font-size: 12px !important;
}

.success_icon {
  padding-right: 5px;
}

.icon-size {
  width: 14px;
}

.icon-completed {
  padding-top: 4px;
}

.icon-size-status {
  width: 12px;
}

.text-icon {
  line-height: 2;
}

.log-icon {
  padding-top: 8px;
}

.logo-alignment-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-icon {
  cursor: pointer;
}

/* Optional: Adjustments for other elements */
.notebook-template-table-data {
  padding-left: 15px;
  border-bottom: 1px solid var(--jp-layout-color3);
}

.cluster-details-header {
  height: 48px;
  display: flex;
  border-bottom: 1px solid var(--jp-layout-color3);
}

.back-arrow-icon {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.scheduler-region-top {
  padding-top: 10px;
}

.enable-error-text-label a {
  color: blue;
  text-decoration: underline;
  padding-left: 3px;
}

.enable-text-label {
  width: 60%;
}

.enable-error-text-label {
  padding-left: 13px;
}

.text-enable-warning {
  padding-top: 13px;
}

.success-message-package {
  display: flex;
  color: #34a853;
}

.element-section-top {
  padding-top: 5px;
}

.success-message-cl-package {
  color: #f57c00;
}

.success-message-top {
  padding-top: 15px;
}

.warning-message {
  padding-top: 3px;
}

.warning-font {
  font-size: 10px;
}

.warning-success-message {
  padding-top: 6px;
}

.block-seperation {
  margin-top: 0;
  padding-top: 25px;
}

.progress-message {
  text-align: justify;
}

.progress-main {
  padding-right: 27px;
}

.input-sub-action {
  margin: 0;
}

.block-level-seperation {
  padding-top: 8px;
  margin-top: 0;
}

.spinner-loader-modal {
  width: 14px !important;
  height: 14px !important;
}

.date-box-shadow {
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.execution-wrapper-border-none {
  border: none;
}

.execution-top-border {
  border-top: 1px solid var(--jp-layout-color3);
}

.action-btn-execution {
  padding-left: 15px;
}

.table-cell-overflow {
  min-width: 25%;
  max-width: 12%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.execution-task-log-outline {
  outline: 1px solid var(--jp-layout-color3);
}

.select-panel-list {
  width: 100%;
  display: flex;
}

.disable-item {
  padding-right: 5px;
  color: rgb(245 245 245);
  opacity: 0.5;
  pointer-events: none;
}

.select-panel-list-view-lay {
  max-width: 294px;
}

.execution-state {
  margin: 5px 15px 5px 0;
  cursor: default;
}

.table-right-space {
  padding-right: 15px;
}

.pagination-parent-view {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* Adjust spacing between elements */
  gap: 1rem;

  /* Add some padding around the component */
  padding: 0.5rem;
}

.pagination-parent-view .logo-alignment-style {
  cursor: pointer;
}

.pagination-numbers {
  font-size: 0.9rem;

  /* Adjust text color */
  color: #555;
}

.pagination-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  /* Light background for buttons */
  background-color: #f0f0f0;

  /* Default icon color */
  color: #888;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.pagination-arrow:hover {
  /* Slightly darker on hover */
  background-color: #ddd;
  color: #333;
}

.pagination-arrow.disabled {
  background-color: #eee;
  color: #ccc;
  cursor: not-allowed;
}

.pagination-arrow.disabled:hover {
  background-color: #eee;
  color: #ccc;
}

.container-main-page {
  height: 100vh;
}

.calender-top {
  padding-top: 30px;
}

.table-execution-history-vertex {
  height: calc(100vh - 212px);
}

.scroll-fix-header {
  position: sticky;
  top: 0;
  background-color: var(--jp-layout-color1);
  z-index: 1;
}

body[data-jp-theme-light='true'].scroll-fix-header {
  position: sticky;
  top: 0;
  background-color: var(--jp-layout-color0);
}

.table-main-execution {
  padding-right: 15px;
}

.log-btn {
  padding: 10px;
  margin-left: auto;
  width: 11%;
}

.error-message-warn {
  max-width: 500px;
  padding-top: 10px;
}

.loader-table {
  text-align: center;
  padding: 50px;
}

.table-loading-ht {
  height: calc(100vh - 368px);
}

.spin-loader-table {
  width: 29%;
  margin: 0 auto;
}

.expanded-toast {
  width: 50%;
}

.expand-btn {
  color: #3367d6;
  font-weight: bold;
}

.cell-width-listing {
  max-width: 300px;
}

.table-space-around {
  padding: 0 10px;
}

.pagination-parent-view-main {
  display: flex;
  justify-content: flex-end;

  /* Adjust spacing between elements */
  gap: 1rem;

  /* Add some padding around the component */
  padding: 0.5rem;
}

.scroll-list {
  overflow: auto;
  height: calc(100vh - 298px);
}

.list-level-component {
  max-height: 0;
}

.calender-date-time-wrapper {
  position: relative;
}

.calender-status-icon {
  margin: 0 auto;
  position: absolute;
  bottom: 3px;
  left: 17px;
}

.calendar-status-icon-double {
  left: 16.2px;
}

.autocomplete-space {
  padding-right: 10px;
}

.env-option-row {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.network-option-helper-text {
  font-size: 12px;
  font-weight: 500;
}

.encryption-input {
  width: 473px;
}

.create-encryption-sub-message {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  padding: 4px 0 10px 28px;
  color: var(--jp-ui-font-color2);
  overflow: hidden;
  word-wrap: break-word;
  margin-top: -5px;
  display: flex;
}

.encryption-radio {
  padding-bottom: 10px;
  padding-top: 0;
}

.encryption-radio-list {
  line-height: 6;
}

.error-manual-encryption {
  padding-top: 10px;
  width: 90%;
}

.encryption-link {
  color: #3367d6;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 3px;
}

.schedule-label-edit-row {
  display: flex;
  margin: 15px 0;
  padding-bottom: 9px;
}

.input-file-description-text {
  padding-top: 9px;
  width: 512px;
}
