[buildout]
find-links = http://pypi.python.org/simple/zc.buildout
             http://pypi.python.org/simple/setuptools
             https://pypi.python.org/simple/WebOb
             http://pypi.python.org/simple/WebTest
             https://files.pythonhosted.org/packages/7f/ba/47d391ce8b1b5e831c945a97df21f86b09e03a298436e3a58e1746d36a79/p01.cgi-0.6.2.tar.gz
             https://files.pythonhosted.org/packages/0a/46/1089968ca945769ad601a4889c3e5841183e1325372a3b1e9d6c24f35624/p01.testbrowser-3.0.2.tar.gz
             https://files.pythonhosted.org/packages/33/30/d139e0a190051d586df6d507765f11ec1a9dcfbe5151566283452f3df577/p01.checker-0.5.15.tar.gz
develop = .
parts = test
        checker
        py
versions = versions


[versions]
backports.functools-lru-cache = 1.6.6
beautifulsoup4 = 4.9.3
lxml = 4.9.4
pyflakes = 2.1.1
soupsieve = 1.9.6
soupsieve = 1.9.6
webob = 1.8.7
webtest = 2.0.35
zope.publisher = 6.1.0
zc.recipe.egg = 2.0.7
p01.cgi = 0.6.3
p01.checker = 0.5.16
p01.testbrowser = 3.0.2


[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = p01.publisher [test]
       future


[checker]
recipe = p01.recipe.setup:importchecker
path = src/p01/publisher


[py]
recipe = zc.recipe.egg
eggs = p01.publisher
       future
interpreter = python
